<div class="">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a href="/admin/addProduct" class="{{addProduct}} nav-link">
        <h3> Add Products</h3>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/admin/editDeleteProducts"
        class="{{editDeleteProducts}} nav-link"
      >
        <h3> Edit / Delete Products</h3>
      </a>
    </li>
  </ul>
</div>