<div class="d-flex justify-content-center">
  <ul class="nav">
    <li class="nav-item">
      <a
        href="/admin/addProduct"
        class="{{productsSelected}} nav-link"
      >Products</a>
    </li>
    <li class="nav-item">
      <a href="/admin/orders" class="{{ordersSelected}} nav-link">Orders</a>
    </li>
    <li class="nav-item">
      <a
        href="/admin/inquiries"
        class="{{inquiriesSelected}} nav-link"
      >Inquiries</a>
    </li>
  </ul>
</div>