<div class="container">
  <ul>
    <li><a href="">Pens & Pencils</a> </li>
    <li><a href="">Markers</a> </li>
    <li><a href="">Drawing Pads</a> </li>
    <li><a href="">Coloring</a> </li>
    <li><a href="">Brushes</a> </li>
    <li><a href="">Others</a> </li>
  </ul>
</div>