<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/angular@1.8.2/angular.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/materials.css" />
    <script src="/utils/cookie.js"></script>
    <script src="/js/materials.js"></script>

    <base href="/" />
    <title>Materials</title>
  </head>
  <body ng-app="app" ng-controller="materials">
    <a
      href="/cart"
      class="text-dark m-5"
      style="font-size: 5rem; position: fixed; bottom: 75%; right: 0"
    >
      <i class="bi bi-cart4"></i>
    </a>

    <ul class="nav justify-content-center" id="shop-nav">
      <li class="nav-item mx-5">
        <a class="nav-link text-dark" href="/shop/artworks">Artworks</a>
      </li>
      <li class="nav-item mx-5">
        <a class="nav-link text-primary" href="/shop/materials">Materials</a>
      </li>
    </ul>
    <ul class="nav justify-content-center" id="categories">
      <li class="nav-item" ng-repeat="Category in Categories">
        <a class="nav-link" ng-click="mountArray(Category.id)"
          >{{Category.name}}</a
        >
      </li>
    </ul>
    <div class="container">
      <div class="card-group text-center">
        <div class="card mx-2" ng-repeat="material in targetArray">
          <img
            ng-src="/imgs/{{material.ImgName}}"
            alt="{{material.Name}}"
            class="card-img-top"
          />
          <div class="card-body">
            <div class="card-title"><strong>{{material.Name}}</strong></div>
            <div class="card-text">
              <strong>Price: {{material.Price}}$</strong>
            </div>
            <div class="card-title d-flex justify-content-center">
              <input
                type="number"
                class="form-control text-center"
                ng-model="material.Quantity"
                ng-change="limitQuantity(material)"
                style="width: 5rem"
              />
            </div>
            <button class="btn btn-dark" ng-click="addToCart(material)">
              add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center pb-5 pt-2">
      <button
        class="btn btn-link mx-1"
        ng-repeat="x in range(materialsLength)"
        ng-click="pagination(x+1)"
      >
        {{x + 1}}
      </button>
    </div>
    <!-- <h1>{{targetArray}}</h1> -->

    <!-- <div ng-repeat="material in materials[1]">{{material}}</div> -->
    <!-- <div>{{materials[1]}}</div> -->
  </body>
</html>
